<template>
    <lightning-card title="Variable Eg">
        My Name :{name}     <br/>
        My Age :{age}       <br/>
        My City :{city}     <br/>
        My Sal :{sal}       <br/>
        My Emp Id :{empid}     <br/>
        <lightning-button label="Submit" onclick={callme}></lightning-button>
    </lightning-card>
    
    
</template>