<template>
    <lightning-record-view-form>
        record-id={recordid}
        object-api-name="Account"
        <lightning-card>
            <lightning-output-field field-name="Name"></lightning-output-field>
            <lightning-output-field field-name="Industry"></lightning-output-field>
            <lightning-output-field field-name="Fax"></lightning-output-field>
            <lightning-output-field field-name="Phone"></lightning-output-field>
            <lightning-output-field field-name="Rating"></lightning-output-field>
            <lightning-output-field field-name="Sic"></lightning-output-field>
        </lightning-card>
    </lightning-record-view-form>
    
</template>