<template>
    <lightning-card title="Record form with Custom Fields">
        <lightning-record-form>
            object-api-name={accountObject}
            fields={myFields}
        </lightning-record-form>

    </lightning-card>

    
</template>