<template>
    <lightning-card title="Calculator">
        <lightning-input type="number" label="Enter First Number" onchange={callme1}></lightning-input>
        <lightning-input type="number" label="Ener Second Number" onchange={callme}></lightning-input>

       <lightning-button label="Add" onclick={addme}> </lightning-button>
       <lightning-button  label="Subtract" onclick={sub}> </lightning-button>
       <lightning-button  label="Multiply" onclick={mul}> </lightning-button>
       <p></p>
       <p></p>
       Result:{resvalue}
    </lightning-card>
    
</template>