<template>
    <lightning-card title=" My First LWC Component">
        Hi this is my first LWC Component
      <lightning-button label="Submit" icon-name="standard:account" onclick={callme}></lightning-button>   
    </lightning-card>
    
</template>