<template>
    <lightning-card title="Input Example">
        <lightning-layout>
            <lightning-layout-item size="6">
                <lightning-input label="Enter Emp Pame" type="text" name="name" value={name}></lightning-input>
                <lightning-input label="Enter Emp Phone" type="text" value={phone}></lightning-input>
                <lightning-input label="Enter Emp Sal" type="number" value={salary} ></lightning-input>
                <lightning-input label="Enter Date of Birth" type="date" value={dob}></lightning-input>
                <lightning-button label="Calculate" onclick={showme}></lightning-button>
            </lightning-layout-item>
        

        <lightning-layout-item>
            The Final salry of the Employee is :{finalsal}

        </lightning-layout-item>
    </lightning-layout>
      
    </lightning-card>
    
</template>