<template>
<lightning-card title="css Eg" class="box"></lightning-card>
    <lightning-input type="text" label="Enter Name" onchange={callme}></lightning-input>
    
    <div class="box">
        You have entered : {Name}

    </div>
</template>