<template for:each={cities} for:item=ea>
<p key={ea}>{ea}</p>
    
</template>

<template iterator:item={cities}>
    <p key={item.value}>{item.value}</p>
</template>

Employee Name: {employee.name}  <p></p>
Employee Age:{employee.age} <p></p>
Employee City:{employee.City}   <p></p>
Employee Salary:{employee.Salary}   <p></p>