<template>
    <lightning-card title="Data Table Example" icon-name="standard:account">
        <template if:true={contact.data}>
         <lightning-datatable
            key-field="Id"
            data={contact.data}
            columns={col}
         >
         </lightning-datatable>  

          <template if:true={contact.error}>
              

          </template>
        
        </template>
    
       </lightning-card>

    </lightning-card>   
</template>